.form {
background-color: #2F303A;
min-height: 500px;
width: 50px;
border-radius: 2%;
color: white;
font-family: 'Poppins','Sansarif';
margin-top: 400px;
margin-left: 400px;

}
.btn {
    background-color:#1762A7 ;
    border-radius: 6%;
    min-width: 300px;
    height: 45px;
    font-size: 15px;
    color: white;
}
.btn:hover {
    background-color: #2180d8;
}