@import url('https://font.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
.BannerJoin {
    background-color: #2F303A;
    height: 100vh;
  }
  
.text-banner-3 {
    align-items: left;
    font-size: Poppins(10px + 2vmin);
    color: white;
    margin-left: 300px;
    top: 400px;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 300px;
    font-size: 20px;
   
  }
.pink {
    color: #bc0950;
}
