.BannerSongWeb {
  background-color: #2F303A;
  height: 100vh;
}

.text-banner-1 {
  align-items: left;
  font-size: Poppins(10px + 2vmin);
  color: white;
  min-height: 300vh;
  margin-left: 800px;
  margin-top: 10px;
  width: auto;
  height: 500px;
}

.button-bck {
  background-color: #1762A7;
  border: none;
  height: 30px;
  width: 85px;
  border-radius: 5%;
  color: white;
}
.image {
  height: 10vh;
  width: auto;
}