@import url('https://font.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
.BannerSoundWave {
    background-color: #2F303A;
    height: 100vh;
  }
  
.text-banner-1 {
    align-items: left;
    font-size: Poppins(10px + 2vmin);
    color: white;
    margin-left: 300px;
    margin-top: 100px;
    position: absolute;
    bottom: 20px;
    font-size: 20px;
   
  }
  
  .button {
    background-color: #1762A7;
    border: none;
    height: 30px;
    width: 85px;
    border-radius: 5%;
    color: white;
    font-size: 15px;
  }
  .button:hover {
    background-color: #2180d8;
  }
  .image {
    height: 50vh;
    width: auto;
    Margin-top: 350px;
    margin-left: 350px;
    bottom: 30px;
    
  }